
header{
    background-color: rgb(255, 153, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    text-align: center;
    background-color: rgb(32, 45, 70);
    color: cornsilk;
    padding: 10px;
}

.contenedor{
    background-color: rgb(49, 243, 49);
    }
    @media screen and (min-width:600px) {
        .contenedor{
            background-color: rgb(235, 231, 48);
        
        }

     } 